<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>
        body {
            background-color: #171717;
            color: aliceblue;
        }
    </style>
</head>
<body>
    <h1>Home Page</h1>

    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque provident ipsum iure vitae, ea, fugiat pariatur itaque maiores porro inventore animi officiis dolor qui accusamus omnis saepe. Consequatur fuga commodi quisquam nam laborum ea autem corporis voluptatem necessitatibus sequi iure quia eligendi neque quaerat qui, culpa cumque! Corrupti doloremque molestias placeat excepturi pariatur quam libero, facilis aut nulla, consequuntur veniam sapiente porro. Ut itaque praesentium autem incidunt cupiditate fuga minus sed mollitia tenetur expedita, cumque numquam facere quisquam sunt id laborum nostrum ullam dicta, eveniet earum animi velit voluptatibus non iusto. Et alias aliquam, tenetur laboriosam magni magnam iusto ipsum?
    </p>
</body>
</html>